<div id="wrapper_mngr">
<div class="wrapper"  id="close">
<div class="tab_head">
<label class="head_caption_self_evaluation">Self Evaluaton</label>
<div class="tab_head_arrow" onclick="javascript:hideDiv()"></div>
</div>
<div class="tabContainer" id="sortable">
