</br></br></br></br></br><table border="1" align = "center">
	<tr>
		<th>Team Members </th>
	</tr>
	<% @employee_detail.each do |d|%>
		<tr>
				<td><%= d.first_name%></br></td>
		</tr>
	<%end%>
</table>
