

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
<div class="login_option_inner">
 USERNAME<br />
  <%= f.email_field :email, :autofocus => true, :class=>"login_text_box logn " %><br /><br />

  <%= f.submit "Send me reset password instructions", :class=>"sign_in_btn" %><br /><br /></div>
<% end %>

<%#= render :partial => "devise/shared/links" %>

