/* CSS Live the value */

* { padding:0;
	margin:0; 
}
html, body {
	    width:100%; 
		height:100%; 
		padding:o; 
		margin:0;
		font-family:Arial, Helvetica, sans-serif;
}
.one {
		height:100%; 
		width:100%;
}
.left {
		width:12%;
		min-height:100%;
		position:fixed;
		float:left;
		z-index:1;
}
.right {
		width:100%;
		min-height:100%;
		float: right;
		word-wrap:break-word;
}
.header {
		height:100px;
		width:100%;
		background-color:#00FFFF;
}	
.page_container {
		width:100%;
		height:100%;
}
.logo_menu_container {
		height:100%;
		width:165px;
		border-right:solid 1px #CCCCCC;
		background-color:#f7f7f7;
		float:left;
		position:fixed;
}
.logo {
		background-image: url(../images/sprites.png);
		background-repeat:repeat;
		background-position:-6px -7px;
		width:165px;
		height:150px;
}
.logo:hover {
		background-image: url(../images/sprites.png);
		background-repeat:repeat;
		background-position:-180px -7px;
		width:165px;
		height:150px;
		cursor:pointer;
}
.menu_container {
		width:100%;
}
.right_container {
		width:88%;
		height:100%;
		word-wrap:
		break-word;
		margin-left:162px;
	/*	top:0;
		position:relative;
		overflow:auto;*/
}
.top_bar {
		width:100%;
		height:60.2px;
		background-color:#f1f1f1;
		-moz-box-shadow:    2px 2px 13px 2px #ccc;
  		-webkit-box-shadow: 2px 2px 13px 2px #ccc;
 		box-shadow:         2px 2px 13px 2px #ccc;
		position:fixed;
}
.value {
		width:100px;
		float:left;
		padding:15px 0 0 10px;
		padding-left:170px;
}
.value_btn {
		padding:5px 5px 3px 20px;
		background-image:url(../images/sprites.png);
		background-position:-410px -8px;
		background-repeat:no-repeat;
		border:solid 1px #CCCCCC;
		width:80px;
		height:29px;
		background-color:#efefef;
}
.value_btn:hover {
		border:solid 1px #B0B0B0;
		cursor:pointer;
}
.user_details {
		font-family:Arial, Helvetica, sans-serif; 
		font-size:13px;
		float:right;
		width:175px;
		padding-top:13px;
		color:#727272;
}
.user_name {
		float:left;
		padding-top:7px;
}
.user_photo {
		background-image:url(../images/sprites.png);
		background-position:-355px -8px;
		height:30px;
		width:30px;
		float: left;
		margin-left:10px;
}
.expand_arrow {
		background-image:url(../images/sprites.png);
		background-position:-392px -11px;
		width:10px;
		height:12px;
		float:left;
		margin-left:6px;
		margin-top:10px;
}
#box1 {
		width:11px; height:11px;
}
#box1 > img {
		position:absolute;
		z-index:2000;
		width:200px;
		max-height:200px;
}
#box1 > a {
		display: none;
		position:absolute;
		margin:10px 0px 0px -121px; /* margin:top right btm left; */
		z-index:3000;
		background: #F0F0F0;
		border:#666 1px solid;
		border-radius:3px;
		padding:5px;
		font-size:12px;
		text-decoration:none;
		color:#333;
		height:87px;
		width:127px;
}
#box1:hover a {
    display: block;
}		
#bg_mask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	margin-top: 0px;	
	z-index: 0;
	visibility: hidden;
} 
#frontlayer {
	float:right;
	margin-top: 60px;
	padding :10px;
	width: 300px;
	height:111px;
	background-color: #FFFFFF;
	visibility: hidden;
	border: 1px solid  #CCCCCC;
	z-index: 1;
	margin-right: 6px;
} 
.photo_user {
	width:100px;
	height:100px;
	background-image:url(../images/sprites.png);
	background-position:-378px -59px;
	float:left;
}
.user_options {
	float:right;
	width:170px;
	font:Arial, Helvetica, sans-serif;
	font-size:13px;
	color: #999999;
}
.user_option_list{
	width:110px;
	height:20px;
	padding:5px;
	cursor:pointer;
}
.user_option_list:hover{
	background-color:
	#fabcd5;color:
	#FFFFFF;}
.user_option_logout{
	width:110px;
	height:20px;
	padding:6px;
	cursor:pointer;
	color: #FFFFFF;
	background-color:#fabcd5;
	font-weight:bold;
}
.user_option_logout:hover{
	color: #FFFFFF;
	background-color:#fdc7dd;
}
.arw_butt {
	background-image:url(../images/sprites.png);
	background-position:-392px -11px;
	width:10px;
	height:12px; padding:5px;
	border: none; cursor:pointer;
	background-color:#efefef;
}	
.content {
	padding:15px;
	padding-bottom: 98px;
	margin-left:165px;
}
.menu_div {
	width:155px;
	height:25px;
	background-image:url(../images/sprites.png);
	background-position:-496px -3px;
	border-top:#c5c5c5 solid 1px;
	padding-left:10px;
	padding-top:10px;
}
.menu_div:hover {
	width:168px;
	background-image:url(../images/sprites.png);
	background-position:-729px -7px;
	border-top:#FFFFFF solid 1px;
}
a.menu_a:link {
	display:block;
	width:186px;
	height:35px;
	text-decoration:none;
	font-size:12px;
	padding-top:2px;
	color:#3d3c3c;
	font-weight:bold;
}
a.menu_a:hover { 
	color:#FFFFFF;
}
a.dashboard:link {
	display:block;
	width:110px;
	height:35px;
	text-decoration:none;
	font-size:12px;
	padding-top:2px;
	color:#3d3c3c;
	font-weight:bold;
	background-image:url(../images/sprites.png);
	background-position:-925px -14px;
	padding-left:36px;
}
a.dashboard:hover { 
	color:#FFFFFF;
}

a.myprof:link {
	display:block;
	width:110px;
	height:35px;
	text-decoration:none;
	font-size:12px;
	padding-top:2px;
	color:#3d3c3c;
	font-weight:bold;
	background-image:url(../images/sprites.png);
	background-position: -925px -41px;
	padding-left:36px;
	background-repeat:no-repeat;
}
a.myprof:hover { 
	color:#FFFFFF;
}
a.restpswd:link {
	display:block;
	width:110px;
	height:35px;
	text-decoration:none;
	font-size:12px;
	padding-top:2px;
	color:#3d3c3c;
	font-weight:bold;
	background-image:url(../images/sprites.png);
	background-position: -925px -66px;
	padding-left:36px;
	background-repeat:no-repeat;
}
a.restpswd:hover { 
	color:#FFFFFF;
}

a.preview:link {
	display:block;
	width:110px;
	height:35px;
	text-decoration:none;
	font-size:12px;
	padding-top:2px;
	color:#3d3c3c;
	font-weight:bold;
	background-image:url(../images/sprites.png);
	background-position: -925px -92px;
	padding-left:36px;
	background-repeat:no-repeat;
}
a.preview:hover { 
	color:#FFFFFF;
}
a.final:link {
	display:block;
	width:110px;
	height:35px;
	text-decoration:none;
	font-size:12px;
	padding-top:2px;
	color:#3d3c3c;
	font-weight:bold;
	background-image:url(../images/sprites.png);
	background-position: -925px -116px;
	padding-left:36px;
	background-repeat:no-repeat;
}
a.final:hover { 
	color:#FFFFFF;
}

a.self:link {
	display:block;
	width:110px;
	height:35px;
	text-decoration:none;
	font-size:12px;
	padding-top:2px;
	color:#3d3c3c;
	font-weight:bold;
	background-image:url(../images/sprites.png);
	background-position: -925px -140px;
	padding-left:36px;
	background-repeat:no-repeat;	
}
a.self:hover { 
	color:#FFFFFF;
}
a.more:link {
	display:block;
	width:110px;
	height:35px;
	text-decoration:none;
	font-size:12px;
	padding-top:2px;
	color:#3d3c3c;
	font-weight:bold;
	background-image:url(../images/sprites.png);
	background-position: -925px -165px;
	padding-left:36px;
	background-repeat:no-repeat;
}
a.more:hover { 
	color:#FFFFFF;
}
a.mng:link {
	display:block;
	width:110px;
	height:32px;
	text-decoration:none;
	font-size:12px;
	padding-top:2px;
	color:#3d3c3c;
	font-weight:bold;
	background-image:url(../images/sprites.png);
	background-position: -925px -191px;
	padding-left:36px;
	background-repeat:no-repeat;
}
a.mng:hover { 
	color:#FFFFFF;
}

a.emp_list:link {
	display:block;
	width:110px;
	height:32px;
	text-decoration:none;
	font-size:12px;
	padding-top:2px;
	color:#3d3c3c;
	font-weight:bold;
	background-image:url(../images/sprites.png);
	background-position:-925px -225px;
	padding-left:36px;
	background-repeat:no-repeat;
}
a.emp_list:hover { 
	color:#FFFFFF;
}
.dash_board_caption{
	background-image:url(../images/sprites.png);
	background-position: -128px -191px;
	height: 36px;
	width: 42px;
	margin-top:60px;
}
.team_memebr_caption{
	background-image:url(../images/sprites.png);
	background-position: -588px -191px;
	height: 36px;
	width: 42px;
}
h1.captn {
	font-size: 19px;
	color: #666666;
	padding-left: 48px;
	padding-top: 12px;
	float: left;
	font-weight: normal;
	width:200px;
}
.black_lay{
	position:absolute;
	z-index:2;
	width:100%; height:100%;
	background-image:url(../images/black.png);
	position:fixed;
}
.overlay{
	position:absolute;
	z-index:2;
	width:100%; height:100%;
	background-color:#ecede7;
	position:fixed;
}
.giff_img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top:25%;	
}
.login_btn{
	background: #f763a1; /* Old browsers */
	background: -moz-linear-gradient(top, #f763a1 0%, #e32981 87%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f763a1), color-stop(87%,#e32981)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f763a1 0%,#e32981 87%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f763a1 0%,#e32981 87%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f763a1 0%,#e32981 87%); /* IE10+ */
	background: linear-gradient(to bottom, #f763a1 0%,#e32981 87%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f763a1', endColorstr='#e32981',GradientType=0 );	 /* IE6-9 */
	border:none;
	padding: 3px 40px 6px 40px;
	border-radius:0 0 10px 10px;
	color:#FFFFFF;
	float:right;
	margin-right:45px;
}
.login_btn:hover{ 
	color: #F9F9F9;
 	cursor:pointer;
}
.cmn_btn{
	background: #f763a1; /* Old browsers */
	background: -moz-linear-gradient(top, #f763a1 0%, #e32981 87%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f763a1), color-stop(87%,#e32981)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f763a1 0%,#e32981 87%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f763a1 0%,#e32981 87%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f763a1 0%,#e32981 87%); /* IE10+ */
	background: linear-gradient(to bottom, #f763a1 0%,#e32981 87%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f763a1', endColorstr='#e32981',GradientType=0 );	 /* IE6-9 */
	border:none;
	padding:4px;
	border-radius:5px;
	color:#FFFFFF;
	float:right; 
	z-index:5;
	margin-right:2px;
	margin-top:-5px;
}
.cmn_btn:hover{ 
	color: #F9F9F9;
 	cursor:pointer;
}
.save_btn{
	background: #f763a1; /* Old browsers */
	background: -moz-linear-gradient(top, #f763a1 0%, #e32981 87%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f763a1), color-stop(87%,#e32981)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f763a1 0%,#e32981 87%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f763a1 0%,#e32981 87%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f763a1 0%,#e32981 87%); /* IE10+ */
	background: linear-gradient(to bottom, #f763a1 0%,#e32981 87%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f763a1', endColorstr='#e32981',GradientType=0 );	 /* IE6-9 */
	border:none;
	padding:3px 10px 5px 10px;
	border-radius:10px 10px 10px 10px;
	color:#FFFFFF;
	float:right; 
	z-index:5;
}
.save_btn:hover{ 
	color: #F9F9F9;
 	cursor:pointer;
}
.view_btn{
	background: #f763a1; /* Old browsers */
	background: -moz-linear-gradient(top, #f763a1 0%, #e32981 87%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f763a1), color-stop(87%,#e32981)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f763a1 0%,#e32981 87%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f763a1 0%,#e32981 87%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f763a1 0%,#e32981 87%); /* IE10+ */
	background: linear-gradient(to bottom, #f763a1 0%,#e32981 87%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f763a1', endColorstr='#e32981',GradientType=0 );	 /* IE6-9 */
	border:none;
	padding:3px 10px 5px 10px;
	border-radius:10px 10px 10px 10px;
	color:#FFFFFF;
	float:right; 
	z-index:5;
	margin-right:37px;
}
.view_btn:hover{ 
	color: #F9F9F9;
 	cursor:pointer;
}
.accept_btn {
	border:none;
	padding:2px 8px 2px 8px;
	border-radius:5px;
	color: #FFFFFF;
	background-color:#269F3C;
	border:solid 1px #CCCCCC;
	margin-right:2px;
	margin-top:-5px;	
}
.accept_btn:hover{ 
	color: #FBFBFB;
 	cursor:pointer;
	border:solid 1px  #999999;
}
.refer_btn {
	border:none;
	padding:2px 8px 2px 22px;
	border-radius:10px 10px 10px 10px;
	color: #666666;
	background-image: url(../images/sprites.png);
	background-position:-69px -287px;
	border:solid 1px #CCCCCC;
}
.refer_btn:hover{ 
	color: #000000;
 	cursor:pointer;
	border:solid 1px  #999999;
}
.duedate {
	font-weight:bold;
}
.self_point_green {
	background-color:#15DFA8;
	border: #FFD9EF 1px solid;
	color:#FFFFFF;
	padding:2px;
	font-weight:bold;
}
.self_point_poor {
	background-color: #FFD9EC;
	border: #999999 1px solid;
	color: #F15C6B;
	padding:2px;
	font-weight:bold;
}
.cmts {
/*	font-style:italic;*/
	font-weight:normal;
}
.cmt_txt_ar { 
	max-width:135px;
	width:130px;
	min-width:130px;
	height:16px;
	max-height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999999;
	padding-left:5px;
	padding:1px;

}
.cmt_txt_exp { 
	max-width:450px;
	width:450px;
	min-width:130px;
	height:16px;
	max-height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333;
	padding-left:5px;
	padding:1px;
	margin-left:8px;
	padding-left:5px;
}
.cmt_txt_mngr { 
	max-width:200px;
	width:200px;
	min-width:150px;
	height:16px;
	max-height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#999999;
	padding-left:5px;
	padding:1px;

}
.descr_txt_exp { 
	max-width:465px;
	width:490px;
	min-width:130px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333;
	padding-left:5px;
	padding:1px;
	margin-left:14px;
	padding-left:5px;
	margin-top:4px;
	padding-top:4px;
}
.submit_area {
	margin-left:14px;
	background-color: #F4F4F4;
	width: 249px;
	height: 61px;
	margin-top:15px;
	border:solid 1px  #dfdfdf;
	font-size:10px;
}
.submit_inside	{
	width:249px;
	height:30px;
	border-bottom:solid 1px  #dfdfdf;
}
.sumbit_option {
	float:left;
	padding:7px;
}
.submit_select {
	margin-right:5px;
	margin-top:5px;
	font-size:11px;
	float:right;
   }
.submit_value {
	float:right;
	margin-top:-10px;
}
.giff_ldr {
	background-image: url(../images/ajax-loader.gif);
	width:16px;
	height:16px;
	background-repeat:no-repeat;
}
.blck_ovrly_self {
	padding-top:25px;
	padding-bottom:25px;
	border:solid 1px #dfdfdf;
}
.blckovrly_txt_exp {
	max-width:650px;
	width:650px;
	min-width:130px;
	height:16px;
	max-height:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333;
	padding-left:5px;
	padding:1px;
	margin-left:8px;
	padding-left:5px;
	margin-left:16px;
}
.blackovrly_descr_txt_exp { 
	max-width:650px;
	width:650px;
	min-width:130px;
	height:40px;
	max-height:80px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #333333;
	padding-left:5px;
	padding:1px;
	margin-left:14px;
	padding-left:5px;
	margin-top:4px;
	padding-top:4px;
}
#em_list {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	margin-top: 0px;
	width: 100%;
	height: 100%;
	background-image:url(../images/black.png);
	z-index: 1;
	visibility: hidden;
	position:fixed;
	padding-left:200px;
	
} 
#em_listem_list {

	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 70px 140px 175px 140px;
	padding : 30px;
	width: 700px;
	height: 400px;
	background-color: #F9F9F9;
	visibility: hidden;
	border: 1px solid #CCCCCC;
	z-index: 1;
	overflow:auto;

} 
.view_list {
	width:310px;
	height:100px;
	border:solid 1px #CCCCCC;
	font-family:Arial, Helvetica, sans-serif;
}
.empl_list_heading {
	background-image:url(../images/sprites.png);
	background-position:-925px -225px;
	font-size:15px;
	font-weight:bold;
	color: #999999;
	padding-left:30px;
}
.empl_phot {
	width:100px;
	height:100px;
	background-image:url(../images/sprites.png);
	background-position:-378px -59px;
	float:left;
}
.emp_det {
	float:left;
}
.emp_name {
	font-size:12px;
	font-weight:bold;
	color: #000000;
	padding:5px 0 0 10px;
}
.emp_details {
	font-size:12px;
	color: #999999;
	padding:5px 0 0 10px;
}

table.emp_table{
	border-collapse:collapse;
	border:#dfdfdf 1px solid;
}
table.emp_table tr{
}
/*table.tab_table tr:hover {
	background-color: #EFEFEF;
}*/
table.emp_table td {
	padding:10px 10px 10px 10px;
}
table.tab_table th {background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f8f8f8 8%, #ededed 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#f8f8f8), color-stop(75%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8f8f8 8%,#ededed 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f8f8f8 8%,#ededed 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8f8f8 8%,#ededed 75%); /* IE10+ */
	background: linear-gradient(to bottom, #f8f8f8 8%,#ededed 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border:solid 1px #dfdfdf;
}
.select_emp{
	padding-left:5px;
}
.expnd { 
	background-image:url(../images/sprites.png);
	background-position: -536px -164px;
	width: 8px;
	height: 14px;
	float:left;
}
.expnd:hover { 
	background-image:url(../images/sprites.png);
	background-position: -550px -164px;
	width: 8px;
	height: 14px;
	cursor:pointer;
	z-index:5;
}
.expnd_item {
	float:left;
	padding-left:5px;
	margin-left:5px;
}
.dspnd { 
	background-image:url(../images/sprites.png);
	background-position: -536px -60px;
	width: 8px;
	height: 14px;
	float:left;
}
.dspnd:hover { 
	background-image:url(../images/sprites.png);
	background-position: -550px -60px;
	width: 8px;
	height: 14px;
	cursor:pointer;
	z-index:5;
}
.value_name{
	font-weight:bold;
	text-shadow: 2px 2px 2px #FFFFFF;
    filter: dropshadow(color=#FFFFFF, offx=3, offy=1);
}
.descrpn_name{
	font-weight:bold;
	text-shadow: 2px 2px 2px #FFFFFF;
    filter: dropshadow(color=#FFFFFF, offx=3, offy=1);
	font-size:11px;
	margin-left:17px;
	margin-top:10px;
}
.descton{
	width:140px;
}
.descton_one{
	width:138px;
}
.star{
	background-image:url(../images/sprites.png);
	background-position: -424px -251px;
	width: 30px;
	height: 16px;
}
.star:hover {
	background-image:url(../images/sprites.png);
	background-position: -389px -251px;
	cursor:pointer;
}

/*
.point{
	float:left;	
	padding-left:2px;
}
.commnt{
	float:left;
	padding-left:2px;
}
.submit{
	float:left;
	padding-left:2px;
}*/
.check{
	float: right;
	padding-left:2px;
}

/* login page */
.login_layout {
	width:721px;
	height:419px;
	background-color: #FFFFFF;
	margin-left:auto;
	margin-right:auto;
	margin-top:7%;
	color:#979696;
}
.login_logo {
	width:359px;
	height:418px;
	background-image:url(../images/sprites.png);
	background-position:-108px -237px;
	float:left;
}
.login_option {
	width: 350px;
	height:418px;
	float:right;
}
.login_option_inner {
	margin-top:90px;
	width:350px;
	border-left:solid 1px #CCCCCC;
	height:200px;
	padding:10px 0 0 20px;
	font-size:12px;
}
.sign_in_btn{
	background: #f763a1; /* Old browsers */
	background: -moz-linear-gradient(top, #f763a1 0%, #e32981 87%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f763a1), color-stop(87%,#e32981)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f763a1 0%,#e32981 87%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f763a1 0%,#e32981 87%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f763a1 0%,#e32981 87%); /* IE10+ */
	background: linear-gradient(to bottom, #f763a1 0%,#e32981 87%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f763a1', endColorstr='#e32981',GradientType=0 );	 /* IE6-9 */
	border:none;
	padding: 3px 40px 6px 40px;
	border-radius:10px 10px 10px 10px;
	color:#FFFFFF;
}
.sign_in_btn:hover{ 
	color: #F9F9F9;
 	cursor:pointer;
}
.login_text_box {
	width: 250px;
	height:25px;
	margin-top:7px;
	border:solid 1px #CCCCCC;
	color: #666666;
	padding-left:5px;
}
.login_text_wrong {
	background-color:#f66d6d;
}
input.login_text_box:focus {
	border:solid 1px #e53d84;
}
.login_copy_right {
	float:right;
	font-size:11px;
	padding-top: 85px;
	padding-right: 30px;
}
a.login_link:link {
	text-decoration:none;
	color:#666666;
}
a.login_link:hover { 
	color:#f360a0;
}
.error_box {
	background-color:#ffebe8;
	width:275px;
	padding:10px;
	border:solid 1px #cc0000;
	margin-top:10px;
	color: #666666;
	border-radius:4px;
}
.save_overlay {
	width:100%;
	height:100%;
	position:fixed;
}
.save_overlay_inner {
	width:300px;
	height:180px;
	margin-left:auto;
	margin-right:auto;
	margin-top:25%;
	background-image:url(../images/black.png);
	filter:alpha(opacity=40);
	color:#FFFFFF;
	font-weight:bold; /* For IE8 and earlier */
}
.save_image {
	background-image:url(../images/sprites.png);
	background-position:-8px -238px;
	width:50px;
	height:50px;
	margin-left:122px;
	margin-top:80px;
	position: absolute;
}
.save_caption {
	margin-left:75px;
	margin-top:65px; 
	position: absolute;
}
.footer {
	background-color: #FF0000;
	height:40px;
	background-color:#f1f1f1;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
	color:#727272;
	bottom:0; 
	width:100%;
	position: fixed;
}
.copy_right {
	float:left;
	padding-top:15px;
	padding-left:180px;
}
.copy_right_ruby {
	float:right;
	padding-top:15px;
	padding-right:20px;
}

.accept_btn_icon {
	border:none;
	padding:2px 8px 2px 20px;
	border-radius:5px;
	color: #FFFFFF;
	background-color:#269F3C;
	border:solid 1px #CCCCCC;
	margin-right:2px;
	background-image: url(../images/sprites.png);
	background-position: -932px -216px;	
}
.accept_btn_icon:hover{ 
	color: #FBFBFB;
 	cursor:pointer;
	border:solid 1px  #999999;
}
.cancel_btn_icon {
	border:none;
	padding: 2px 8px 2px 17px;
	border-radius: 5px;
	color: #FFFFFF;
	background-color: #E84448;
	border:solid 1px #DE1B38;
	margin-right:2px;
	background-image: url(../images/sprites.png);
	background-position: -932px -233px;	
}
.cancel_btn_icon:hover{ 
	color: #FBFBFB;
 	cursor:pointer;
	border:solid 1px  #CCCCCC;
}
.rser_pswd_cont{
	width:420px;
	height:247px;
	margin-left:auto;
	margin-right:auto;
	background-color:#dbdbdb;
	margin-top:15%;
	padding-top:13px;
}
.rser_pswd_inn {
	width:380px;
	background-color:#FFFFFF;
	height:220px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 15px;
	padding-left: 15px;
	font-size: 12px;

}
.photo_user_reset {
	width:100px;
	height:100px;
	background-image:url(../images/sprites.png);
	background-position:-378px -59px;
	float:left;
}
.rest_psd_opn {

	margin-left: 30px;
	line-height: 40px;
	font-size: 13px;

}
.head_caption_rst_pswd {
	background-image: url(../images/sprites.png);
	background-position: -650px -188px;
	padding-left: 50px;
	font-size: 13px;
	padding-bottom: 25px;
	padding-top: 10px;
	text-shadow: 2px 2px 2px #FFFFFF;
	filter: dropshadow(color=#FFFFFF, offx=3, offy=1);
	color: #666666;
	font-weight: bold;
}
.usrn_rst_pswd {
	font-size: 14px;
	padding-bottom: 25px;
	padding-top: 10px;
	text-shadow: 2px 2px 2px #FFFFFF;
	filter: dropshadow(color=#FFFFFF, offx=3, offy=1);
	color: #666666;
	font-weight: bold;
}
.hdng{
    color: #666666;
    font-weight: bold;
    text-shadow: 2px 2px 2px #FFFFFF;
	font-size:13px;
	padding-left:5px;
}