
#wrapper{
	width:80%;
	margin: 29px 0 0 8px;
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
}
#wrapper h1{
	color:#FFF;
	text-align:center;
	margin-bottom:20px;
	font:Arial, Helvetica, sans-serif;
	font-size:14px;
}
.tab_head{
	background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f8f8f8 8%, #ededed 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#f8f8f8), color-stop(75%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8f8f8 8%,#ededed 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f8f8f8 8%,#ededed 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8f8f8 8%,#ededed 75%); /* IE10+ */
	background: linear-gradient(to bottom, #f8f8f8 8%,#ededed 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	height:15px;
	padding:10px;
	border:solid 1px #dfdfdf;
	text-shadow: 2px 2px 2px #FFFFFF;
    filter: dropshadow(color=#FFFFFF, offx=3, offy=1);
	color:#666666;
	font-weight:bold;
	}
.tab_head_arrow {
	background-image: url(../assets/sprites.png);
	width: 13px;
	height: 16px;
	float: right;
	background-position: -534px -61px;
	margin-top: 3px;
}
.tab_head_arrow:hover {
	background-image: url(../assets/sprites.png);
	background-position: -548px -61px;
	cursor:pointer;
}

#wrapper a{
	display:block;
	font-size:1.2em;
	padding-top:20px;
	color:#FFF;
	text-decoration:none;
	text-align:center;
}

#tabContainer {
	padding:15px;
	padding-bottom: 20px;
	background-color:#fcfcfc;
	-moz-border-radius: 4px;
	border-radius: 4px; 
	border:solid 1px #dfdfdf;
	border-top:none;
}

#tabs{
	height:30px;
	overflow:hidden;
	margin-top:10px;
}

#tabs > ul{
	font: 1em;
	list-style:none;
	
}

#tabs > ul > li{
	margin:0 2px 0 0;
	padding:7px 10px;
	display:block;
	float:left;
	color:#FFF;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px; 
	background: #f763a1; /* Old browsers */
	background: -moz-linear-gradient(top, #f763a1 0%, #e32981 87%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f763a1), color-stop(87%,#e32981)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f763a1 0%,#e32981 87%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f763a1 0%,#e32981 87%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f763a1 0%,#e32981 87%); /* IE10+ */
	background: linear-gradient(to bottom, #f763a1 0%,#e32981 87%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f763a1', endColorstr='#e32981',GradientType=0 ); /* IE6-9 */
	font-size:12px;
	}

#tabs > ul > li:hover{
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #FFFFFF 0%, #F3F3F3 10%, #F3F3F3 50%, #FFFFFF 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(10%,#F3F3F3), color-stop(50%,#F3F3F3), color-stop(100%,#FFFFFF)); /* webkit */
	cursor:pointer;
	color: #333;
	font-size:12px;
}

#tabs > ul > li.tabActiveHeader{
	background: #FFFFFF; /* old browsers */
	background: -moz-linear-gradient(top, #f8f8f8 8%, #ededed 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#f8f8f8), color-stop(75%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8f8f8 8%,#ededed 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f8f8f8 8%,#ededed 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8f8f8 8%,#ededed 75%); /* IE10+ */
	background: linear-gradient(to bottom, #f8f8f8 8%,#ededed 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	cursor:pointer;
	color: #333;
	border:solid 1px #dfdfdf;
	font-size:12px;
}

#tabscontent {
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 0px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px; 
	padding:10px 10px 25px;
	margin:0;
	color:#333;
	border:solid 1px #dfdfdf;
	background-color:#f8f8f8;
	border-top:none;
	height:auto;
}
table.tab_table{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	border:solid 1px #dfdfdf;
	border-collapse:collapse;
}
table.tab_table tr{
	border:solid 1px #dfdfdf;
}
table.tab_table tr:hover {
	background-color: #EFEFEF;
}
table.tab_table td {
	border:solid 1px #dfdfdf; 
	text-align:center;
}
table.tab_table th {background: #f8f8f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f8f8f8 8%, #ededed 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(8%,#f8f8f8), color-stop(75%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f8f8f8 8%,#ededed 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f8f8f8 8%,#ededed 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f8f8f8 8%,#ededed 75%); /* IE10+ */
	background: linear-gradient(to bottom, #f8f8f8 8%,#ededed 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	border:solid 1px #dfdfdf;
}
.point_text_box {
	width:40px;
}
.numb {
	background-color:#FFFFFF;
	padding:2px;
	border:solid 1px #dfdfdf;
	padding-left:5px;
	padding-right:5px;
}
.value_bold {
padding:10px;
}
.over_due {
	background-color:#FF0000;
	width:100px;
	color:#FFFFFF;
	padding:2px;
}