<p>Welcome <%= @resource.email %>!</p>
<p>You have been successfully registered on the LTV system.</p>
<p>your Username is "<%= @resource.email %>" and password is  "12345678" </p>
<p>You can confirm your account through the link below:</p>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
<p>plesae change your password once you login.</p>


Thankyou,</br>
Admin.