<%= render :partial => '/layouts/side_menu_bar'%>
<%= render :partial => '/layouts/employee_info'%>
<!--div class="black_lay"-->
<div class="content" >
	<!--content-->
		<div class="dash_board_caption">
			<h1 class="captn">Dashboard</h1>
		</div>	
	<%= yield%>
</div><!--/div-->
<%= render :partial => '/layouts/footer'%>			
