<div class="overlay">
	<div class="login_layout">
		<div class="login_logo"></div>
			<div class="login_option">
				<p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
				<!--input type="button" class="login_btn" value="Sign Up" /-->
							<%= yield%>
				<div class="login_copy_right"><a class="login_link" href="http://www.ruby-software.com/" target="_blank">© 2013 Ruby Software</a></div>
			</div>
</div>
	
