<div class="one">
	<div class="left">

		<div class="logo_menu_container">
				<div class="logo"></div>
					<div class="menu_container">
						<div class="menu_div">
							<a class="dashboard" href="#">Dashboard</a>
						</div>
						<div class="menu_div">
							<a class="myprof" href="/evaluations/<%=current_employee.id%>/employee_profile">MY Profile</a>
						</div>
						<div class="menu_div">
							<a class="restpswd" href="/employees/edit">Reset Password</a>
						</div>
						<!--div class="menu_div">
							<a class="preview" href="#">Preview Date</a>
						</div>
						<div class="menu_div">
							<a class="final" href="#">Final Review</a>
						</div-->
						<div class="menu_div">
							<a class="self" href="#" onClick="javascript:showDiv()">Self Evaluate</a>
						</div>
						<!--div class="menu_div">
							<a class="more" href="#">More Pages</a>
						</div-->
						<div class="menu_div" style="border-bottom: #CCCCCC solid 1px;">
							<a class="mng" href="#" onClick="javascript:showmng()">Manager Point</a>
						</div>
					</div><!--End logo_container-->
			</div> <!--End logo_menu_container--></div>
