<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" href="/assets/style.css" />
<link rel="stylesheet" href="/assets/tab.css" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<script type="text/javascript" src="/assets/effects.js"></script>
<script type="text/javascript" src="/assets/tabs_old.js"></script>
<title>Live the Value</title>	
	</head>
	<body>

<div class="one">
<!--div class="save_overlay">
		<div class="save_overlay_inner">
			<div class="save_caption" > Save Successfully</div>
				<div class="save_image"></div>
			</div>
		</div-->
		
		
	<!--<div class="black_lay">
			<img src="assets/giff.gif" class="giff_img"/>
		</div>-->
	<div class="left">
		<div class="logo_menu_container">
				<div class="logo"></div>
					<div class="menu_container">
						<div class="menu_div">
							<a class="dashboard" href="#">Dashboard</a>
						</div>
						<div class="menu_div">
							<a class="myprof" href="#">MY Profile</a>
						</div>
						<div class="menu_div">
							<a class="restpswd" href="#">Reset Password</a>
						</div>
						<div class="menu_div">
							<a class="preview" href="#">Preview Date</a>
						</div>
						<div class="menu_div">
							<a class="final" href="#">Final Review</a>
						</div>
						<div class="menu_div">
							<a class="self" href="#">Self Evaluate</a>
						</div>
						<div class="menu_div">
							<a class="more" href="#">More Pages</a>
						</div>
						<div class="menu_div" style="border-bottom: #CCCCCC solid 1px;">
							<a class="mng" href="#">Manager Point</a>
						</div>
					</div><!--End logo_container-->
			</div> <!--End logo_menu_container--></div>
				<div class="right">
					<div class="top_bar">
						<div class="value">
							<input class="value_btn" type="button" value="Value"/>
						</div>
					<div  class="user_details">
						<label class="user_name">FazilAbdulkadher</label>
						<div class="user_photo"></div>
							<div class="expand_arrow" id="box1">
								<input class="arw_butt" type="button" onclick="showFrontLayer();"/>
							</div>
						</div>
					</div><!--top_bar-->
						<div id="baselayer">
			<div id="bg_mask">
			<div id="frontlayer">
			<div class="photo_user"></div>
			<div class="user_options">
				<span class="user_option_list">Fazil Abdulakdher</span><br /><br />
				<span class="user_option_list">Edit My Profile</span><br /><br /><br />
				<span class="user_option_logout">Log out</span>				
				</div>
			</div>
		</div>
	</div>
	<%=yield%>
	<div class="footer">
						<div class="copy_right">www.ruby-softawre.com</div>
							<div class="copy_right_ruby">&copy; 2013 Ruby Software</div>
					</div><!--End footer-->
</div></div>
	</body>
</html>
