<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="icon" href="images/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="/assets/style.css" />
<link rel="stylesheet" href="/assets/tab.css" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<script src="/assets/effects.js" type="text/javascript"></script>
<script src="/assets/jquery-1.9.1.js" type="text/javascript"></script>
  <script src="/assets/jquery-ui.js" type="text/javascript"></script> 
 <%= javascript_include_tag "application" %>
<title>Live the Value</title>	
	</head>
	<body>
	<div class="one">
<!--	<div class="save_overlay">
		<div class="save_overlay_inner">
			<div class="save_caption" > Save Successfully</div>
				<div class="save_image"></div>
			</div>
		</div>-->
<!--	<div class="black_lay">
			<img src="images/giff.gif" class="giff_img"/>
		</div>-->
	<div class="left">
		<div class="logo_menu_container">
				<div class="logo"></div>
					<div class="menu_container">
						<div class="menu_div">
							<a class="dashboard" href="#">Dashboard</a>
						</div>
						<div class="menu_div">
							<a class="myprof" href="#">MY Profile</a>
						</div>
						<div class="menu_div">
							<a class="restpswd" href="#">Reset Password</a>
						</div>
						<div class="menu_div">
							<a class="preview" href="#">Preview Date</a>
						</div>
						<div class="menu_div">
							<a class="final" href="#">Final Review</a>
						</div>
						<div class="menu_div">
							<a class="self" href="#" onClick="javascript:showDiv()">Self Evaluate</a>
						</div>
						<div class="menu_div">
							<a class="more" href="#">More Pages</a>
						</div>
						<div class="menu_div" style="border-bottom: #CCCCCC solid 1px;">
							<a class="mng" href="#" onClick="javascript:showmng()">Manager Point</a>
						</div>
					</div><!--End logo_container-->
			</div> <!--End logo_menu_container--></div>
				<div class="right">
					<div class="top_bar">
						<div class="value">
							<input class="value_btn" type="button" value="Value"/>
<!--							<button class="value_btn" onClick="javascript:showDiv()">Show</button>
							<button class="value_btn" onClick="javascript:showmng()">Show</button>-->
						</div>
					<div  class="user_details">
						<label class="user_name">FazilAbdulkadher</label>
						<div class="user_photo"></div>
							<div class="expand_arrow" id="box1">
								<input class="arw_butt" type="button" onclick="showFrontLayer();"/>
							</div>
						</div>
					</div><!--top_bar-->
						<div id="baselayer">
			<div id="bg_mask">
			<div id="frontlayer">
			<div class="photo_user"></div>
			<div class="user_options">
				<span class="user_option_list">Fazil Abdulakdher</span><br /><br />
				<span class="user_option_list">Edit My Profile</span><br /><br /><br />
				
				<% if employee_signed_in? %>
				<%= link_to "Log out",destroy_employee_session_path, :method => 'get', :class=>"user_option_logout" %>
				<%end%>	
 
				</div>
			</div>
		</div>
	</div>
	<div id="em_list">
			<div id="em_listem_list" >
				
								<div class="tab_head">
							<label class="head_caption_manager_review">Manager Review</label>
								<div class="tab_head_arrow" onclick="hideFrontLayerone();"></div>
						</div>
										<div class="blck_ovrly_self">
										<textarea class="blckovrly_txt_exp value_name" rows="1" readonly="">Effort</textarea>
									<div class="descrpn_name">DESCRIPTION</div>
									<textarea name="textarea" rows="3" readonly="" class="blackovrly_descr_txt_exp">We insist on giving our best effort in everything we undertake. Furthermore, we see a huge difference between 'good mistakes' (best effort, bad result) and 'bad mistakes' (sloppiness or lack of effort)</textarea>
									<div class="descrpn_name" style="padding-bottom:5px;">My Comments<select>
									<option>1 Points </option>
									<option>2 Points </option>
									<option>3 Points</option>
									</select></div>
									<textarea class="blckovrly_txt_exp" name="inputname" value="My Comment" onfocus="if(this.value == 'My Comment')
									 { this.value = ''; }" onblur="if (this.value == '') { this.value='My Comment'; }">My Comment</textarea><br />

								    	<div class="descrpn_name" style="padding-bottom:5px;">Manager Comments<select>
									<option>1 Points </option>
									<option>2 Points </option>
									<option>3 Points</option>
									</select></div>
									<textarea class="blckovrly_txt_exp" name="inputname" value="Manager Comments" onfocus="if(this.value == 'Manager Comments')
									 { this.value = ''; }" onblur="if (this.value == '') { this.value='Manager Comments'; }">Manager Comments</textarea><br /><br /><br />									
										<div class="submit_value">
											<input  type="submit" value="Close" class="cmn_btn"/>
											<input type="submit" value="Refer" class="cmn_btn" />
											<input  type="submit" value="Accept" class="accept_btn" style="float: right;" />
											<div class="giff_ldr" style="float:right; padding-right:5px;"></div>
			 	 </div>
										</div>	
				<!--<input type="button"  class="view_btn"  value="close" onclick="hideFrontLayerone();"/>-->
				
			</div>
		</div>
			<div class="content" >
			<!--content-->
				<div class="dash_board_caption">
					<h1 class="captn">Dashboard</h1>
				</div>
				 <script>	
				//~ $(function() {
					//~ $( "#sortable" ).sortable({
					  //~ revert: true
					//~ });
					//~ $( "#draggable" ).draggable({
					  //~ connectToSortable: "#sortable",
					  //~ helper: "clone",
					  //~ revert: "invalid"
					//~ });
					//~ $( "ul, li" ).disableSelection();
				  //~ });
  			 </script>
				
<%= yield%>
</div>
					<div class="footer">
						<div class="copy_right">www.ruby-softawre.com</div>
							<div class="copy_right_ruby">&copy; 2013 Ruby Software</div>
					</div><!--End footer-->
</div></div>
	</body>
</html>
